# Development of final dataset for trace model

In [1]:
import pandas as pd

data_zoom = pd.read_csv("final_static_to_zoom.csv")

In [2]:
data_zoom

,category,film_id,shot_id,inversed,scale_label,scale_label_int,movement_label,movement_label_int,frames,frames_per_second,length,path
0,train,tt0444850,14,yes,CS,1,Pull,2,53,23,2.304348,/home/data-proyect/trailer_zoom/tt0444850_shot...
1,train,tt0444850,15,yes,CS,1,Pull,2,45,23,1.956522,/home/data-proyect/trailer_zoom/tt0444850_shot...
2,train,tt0444850,16,yes,ECS,0,Pull,2,24,23,1.043478,/home/data-proyect/trailer_zoom/tt0444850_shot...
3,train,tt2005173,2,yes,MS,2,Pull,2,22,25,0.880000,/home/data-proyect/trailer_zoom/tt2005173_shot...
4,train,tt2005173,14,yes,CS,1,Pull,2,22,25,0.880000,/home/data-proyect/trailer_zoom/tt2005173_shot...
...,...,...,...,...,...,...,...,...,...,...,...,...
7839,train,tt3493128,0,no,CS,1,Push,1,404,25,16.160000,/home/data-proyect/trailer_zoom/tt3493128_shot...
7840,train,tt3495184,16,no,CS,1,Push,1,30,24,1.250000,/home/data-proyect/trailer_zoom/tt3495184_shot...
7841,train,tt3495184,19,no,MS,2,Push,1,31,24,1.291667,/home/data-proyect/trailer_zoom/tt3495184_shot...
7842,train,tt3495184,20,no,MS,2,Push,1,39,24,1.625000,/home/data-proyect/trailer_zoom/tt3495184_shot...
7843,train,tt3495184,21,no,CS,1,Push,1,61,24,2.541667,/home/data-proyect/trailer_zoom/tt3495184_shot...

In [5]:
entry = open("final_static_to_zoom.csv", 'rt')
exit = open("final_static_to_zoom2.csv", "wt")

for linea in entry:
    category,film_id,shot_id,inversed,scale_label,scale_label_int,movement_label,movement_label_int,frames,frames_per_second,length,path = linea.split(",")
    if path == 'path\n':
        exit.write('category,film_id,shot_id,inversed,scale_label,scale_label_int,movement_label,movement_label_int,frames,frames_per_second,length,path'+'\n')
    else:
        pass
    new_path = './../data' + str(path[18:len(path)-1])
    if movement_label == 'Pull':
        n_movement_label = 'Push'
        exit.write(category+','+film_id+','+shot_id+','+inversed+','+scale_label+','+scale_label_int+','+n_movement_label+','+movement_label_int+','+frames+','+frames_per_second+','+length+','+new_path+'\n')
    elif movement_label == 'Push':
        n_movement_label = 'Pull'
        exit.write(category+','+film_id+','+shot_id+','+inversed+','+scale_label+','+scale_label_int+','+n_movement_label+','+movement_label_int+','+frames+','+frames_per_second+','+length+','+new_path+'\n')

entry.close()
exit.close()

In [3]:
data_zoom2 = pd.read_csv("final_static_to_zoom2.csv")

In [4]:
data_zoom2

,category,film_id,shot_id,inversed,scale_label,scale_label_int,movement_label,movement_label_int,frames,frames_per_second,length,path
0,train,tt0444850,14,yes,CS,1,Push,2,53,23,2.304348,./../data/trailer_zoom/tt0444850_shot_0014.mp4
1,train,tt0444850,15,yes,CS,1,Push,2,45,23,1.956522,./../data/trailer_zoom/tt0444850_shot_0015.mp4
2,train,tt0444850,16,yes,ECS,0,Push,2,24,23,1.043478,./../data/trailer_zoom/tt0444850_shot_0016.mp4
3,train,tt2005173,2,yes,MS,2,Push,2,22,25,0.880000,./../data/trailer_zoom/tt2005173_shot_0002.mp4
4,train,tt2005173,14,yes,CS,1,Push,2,22,25,0.880000,./../data/trailer_zoom/tt2005173_shot_0014.mp4
...,...,...,...,...,...,...,...,...,...,...,...,...
7839,train,tt3493128,0,no,CS,1,Pull,1,404,25,16.160000,./../data/trailer_zoom/tt3493128_shot_0000.mp4
7840,train,tt3495184,16,no,CS,1,Pull,1,30,24,1.250000,./../data/trailer_zoom/tt3495184_shot_0016.mp4
7841,train,tt3495184,19,no,MS,2,Pull,1,31,24,1.291667,./../data/trailer_zoom/tt3495184_shot_0019.mp4
7842,train,tt3495184,20,no,MS,2,Pull,1,39,24,1.625000,./../data/trailer_zoom/tt3495184_shot_0020.mp4
7843,train,tt3495184,21,no,CS,1,Pull,1,61,24,2.541667,./../data/trailer_zoom/tt3495184_shot_0021.mp4

In [10]:
mks1=data_zoom2['movement_label'] =='Pull'
pull_df = data_zoom2[mks1]

In [4]:
# Script to reverse pull files

import cv2
import os

def video_reverse(pathing, save, name):
    '''pathing: str: direction of the video to invert
       save:    str: address to save the generated video
       name:    str: file name '''
    def walkdir(folder):
        ''' Directories function '''
        for dirpath, _, files in os.walk(folder):
            for filename in files:
                yield (dirpath, filename)


    # Generate the video frames in the probe folder
    cap = cv2.VideoCapture(pathing) 
    check , vid = cap.read() 
    counter = 0
    check = True
    frame_list = [] 
    
    while(check == True): 
        
        cv2.imwrite("./probe/0000%d.jpg" %counter , vid) 
        check , vid = cap.read() 
        
        frame_list.append(vid) 
        counter += 1
    
    frame_list.pop()

    # ------------------------------------

    # Empty array
    img_array = []

    # Generate list with frames path
    f = r'./probe/'
    li = []
    for dir,filename in walkdir(f):
        li.append(dir+filename)

    # Generate a new list in reverse order
    list_in_reverse = []    
    for q in range(len(li)):
        
        mas = 0
        for j in range(len(li)):
            n=int(li[j][len(li[j])-8:len(li[j])-4])
            
            if n >= mas:
                mas = n
                r = li[j]
        list_in_reverse.append(r)
        li.remove(r)

    # For to read images from a directory
    for p in list_in_reverse:
        path = p
        img = cv2.imread(path)
        img_array.append(img)

    # Size of the last image height and width
    height, width  = img.shape[:2]
    # "name" is the name of the file and "save" directory, everything is a "str"
    video = cv2.VideoWriter(save + name ,cv2.VideoWriter_fourcc(*'mp4v'), 24,(width,height))

    # "For" to save frames in a video
    for i in range(len(img_array)):
        video.write(img_array[i])

    video.release()  

    # Delete the frames from the probe folder
    for dir, filename in walkdir('./probe'):
        fol = str(dir + '/' + filename)
        os.remove(fol)

In [8]:
# Script to flip pull_push videos and generate pull_push2

from tqdm import tqdm

def walkdir(folder):
    ''' FunciÃ³n de directorios '''
    for dirpath, _, files in os.walk(folder):
        for filename in files:
            yield (dirpath, filename)

fold = './../data/pull_push/'
from tqdm import tqdm
for dir, filename in tqdm(walkdir(fold), desc='Loop'):
    a = dir+"/"+filename
    f = a[20:len(a)-14]
    os.makedirs('./../data/pull_push2/'+f, exist_ok=True)
    video_reverse(dir+"/"+filename, './../data/pull_push2/'+f+"/", filename)

Loop: 606it [1:08:49,  6.81s/it]

In [124]:
pull_df

,category,film_id,shot_id,inversed,scale_label,scale_label_int,movement_label,movement_label_int,frames,frames_per_second,length,path
4131,train,tt2568862,7,no,CS,1,Pull,1,45,23,1.956522,./../data/trailer_zoom/tt2568862_shot_0007.mp4
4132,train,tt2568862,24,no,FS,3,Pull,1,18,23,0.782609,./../data/trailer_zoom/tt2568862_shot_0024.mp4
4133,train,tt2568862,32,no,MS,2,Pull,1,19,23,0.826087,./../data/trailer_zoom/tt2568862_shot_0032.mp4
4134,train,tt2568862,44,no,ECS,0,Pull,1,25,23,1.086957,./../data/trailer_zoom/tt2568862_shot_0044.mp4
4135,train,tt2568862,70,no,FS,3,Pull,1,26,23,1.130435,./../data/trailer_zoom/tt2568862_shot_0070.mp4
...,...,...,...,...,...,...,...,...,...,...,...,...
7839,train,tt3493128,0,no,CS,1,Pull,1,404,25,16.160000,./../data/trailer_zoom/tt3493128_shot_0000.mp4
7840,train,tt3495184,16,no,CS,1,Pull,1,30,24,1.250000,./../data/trailer_zoom/tt3495184_shot_0016.mp4
7841,train,tt3495184,19,no,MS,2,Pull,1,31,24,1.291667,./../data/trailer_zoom/tt3495184_shot_0019.mp4
7842,train,tt3495184,20,no,MS,2,Pull,1,39,24,1.625000,./../data/trailer_zoom/tt3495184_shot_0020.mp4
7843,train,tt3495184,21,no,CS,1,Pull,1,61,24,2.541667,./../data/trailer_zoom/tt3495184_shot_0021.mp4

In [166]:
from tqdm import tqdm

for j in tqdm(range(4131, 7844), desc='Loop'):
    
    dato = str(pull_df['path'][j])
    nm = str(dato[len(dato)-23:len(dato)])
    os.makedirs('./../data/pull_push2/'+f, exist_ok=True)
    video_reverse(dato, './../data/new_pull/', nm)

Loop: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3713/3713 [2:15:21<00:00,  2.19s/it]

In [13]:
import pandas as pd
pull_df.to_csv('pull_df.csv', index=False)

In [176]:
entry = open("pull_df.csv", 'rt')
exit = open("train_pull.csv", "wt")

for linea in entry:
    
    category,film_id,shot_id,inversed,scale_label,scale_label_int,movement_label,movement_label_int,frames,frames_per_second,length,path = linea.split(",")
    if path == 'path\n':
        exit.write('category,film_id,shot_id,inversed,scale_label,scale_label_int,movement_label,movement_label_int,frames,frames_per_second,length,path'+'\n')
    else:
        new_path='./../data/new_pull/'+str(path[23:len(path)-1])
        exit.write(category+','+film_id+','+shot_id+','+inversed+','+scale_label+','+scale_label_int+','+movement_label+','+movement_label_int+','+frames+','+frames_per_second+','+length+','+new_path+'\n')
   

entry.close()
exit.close()

In [177]:
mks1 = data_zoom2['movement_label']=='Push'
push_df = data_zoom2[mks1]

In [200]:
# DF FOR PUSH
data_train_push = push_df[['path','movement_label','movement_label_int']]
data_train_push.columns = ['dir', 'movement_label', 'movement_value']

In [202]:
pull_df = pd.read_csv("train_pull.csv")
# DF FOR PULL
data_train_pull = pull_df[['path','movement_label','movement_label_int']]
data_train_pull.columns = ['dir', 'movement_label', 'movement_value']

In [193]:
datatot = pd.read_csv("train.csv")
mk_static = datatot['movement_label'] == 'Static'
# DF FOR STATIC
data_train_static =datatot[mk_static].sample(n=4000)

In [191]:
mk_motion = datatot['movement_label'] == 'Motion'
# DF FOR MOTION
data_train_motion = datatot[mk_motion].sample(n=4000)

In [205]:
finish_data_train = pd.concat([data_train_push, data_train_pull, data_train_static, data_train_motion])

In [206]:
finish_data_train

,dir,movement_label,movement_value
0,./../data/trailer_zoom/tt0444850_shot_0014.mp4,Push,2
1,./../data/trailer_zoom/tt0444850_shot_0015.mp4,Push,2
2,./../data/trailer_zoom/tt0444850_shot_0016.mp4,Push,2
3,./../data/trailer_zoom/tt2005173_shot_0002.mp4,Push,2
4,./../data/trailer_zoom/tt2005173_shot_0014.mp4,Push,2
...,...,...,...
11045,./../data/train/tt3361994/shot_0036.mp4,Motion,0
11678,./../data/train/tt3481210/shot_0040.mp4,Motion,0
10543,./../data/train/tt3280434/shot_0007.mp4,Motion,0
14389,./../data/train/tt3924782/shot_0005.mp4,Motion,0
6757,./../data/train/tt2643156/shot_0015.mp4,Motion,0

In [207]:
finish_data_train.movement_label.value_counts()

Push      4131
Motion    4000
Static    4000
Pull      3713
Name: movement_label, dtype: int64

In [208]:
# Save final file for train
finish_data_train.to_csv('finish_data_train.csv', index=False)

In [223]:
testtot = pd.read_csv("test.csv")

In [231]:
mks_test_static = testtot['movement_label'] == 'Static'
data_test_static = testtot[mks_test_static]
data_test_static.shape
data_test_static = data_test_static.sample(n = 50)

In [230]:
mks_test_motion = testtot['movement_label'] == 'Motion'
data_test_motion = testtot[mks_test_motion]
data_test_motion.shape
data_test_motion = data_test_motion.sample(n = 50)

In [227]:
mks_test_pull = testtot['movement_label'] == 'Pull'
data_test_pull = testtot[mks_test_pull]
data_test_pull.shape

(46, 3)

In [229]:
mks_test_push = testtot['movement_label'] == 'Push'
data_test_push = testtot[mks_test_push]
data_test_push.shape
data_test_push = data_test_push.sample(n = 50)

In [232]:
finish_data_test = pd.concat([data_test_static, data_test_motion, data_test_pull, data_test_push])

In [233]:
finish_data_test

                                        dir movement_label  movement_value
1933  ./../data/val/tt3097956/shot_0024.mp4         Static               4
2752  ./../data/val/tt3603824/shot_0001.mp4         Static               4
3313  ./../data/val/tt4047132/shot_0075.mp4         Static               4
3596  ./../data/val/tt4325152/shot_0071.mp4         Static               4
2434  ./../data/val/tt3351004/shot_0020.mp4         Static               4
...                                     ...            ...             ...
3216  ./../data/val/tt3907858/shot_0075.mp4           Push               1
2683  ./../data/val/tt3553516/shot_0053.mp4           Push               1
4593  ./../data/val/tt6123210/shot_0069.mp4           Push               1
4131  ./../data/val/tt4970038/shot_0007.mp4           Push               1
4081  ./../data/val/tt4911780/shot_0031.mp4           Push               1

[196 rows x 3 columns]

In [234]:
# Save final file for test
finish_data_test.to_csv('finish_data_test.csv', index = False)

In [2]:
import pandas as pd
test = pd.read_csv("finish_data_test.csv")

In [3]:
test

                                       dir movement_label  movement_value
0    ./../data/val/tt3097956/shot_0024.mp4         Static               4
1    ./../data/val/tt3603824/shot_0001.mp4         Static               4
2    ./../data/val/tt4047132/shot_0075.mp4         Static               4
3    ./../data/val/tt4325152/shot_0071.mp4         Static               4
4    ./../data/val/tt3351004/shot_0020.mp4         Static               4
..                                     ...            ...             ...
191  ./../data/val/tt3907858/shot_0075.mp4           Push               1
192  ./../data/val/tt3553516/shot_0053.mp4           Push               1
193  ./../data/val/tt6123210/shot_0069.mp4           Push               1
194  ./../data/val/tt4970038/shot_0007.mp4           Push               1
195  ./../data/val/tt4911780/shot_0031.mp4           Push               1

[196 rows x 3 columns]

In [4]:
# Script to link train files and download to my pc

import os

def walkdir(folder):
    ''' FunciÃ³n de directorios '''
    for dirpath, _, files in os.walk(folder):
        for filename in files:
            yield (dirpath, filename)


pos = '/home/data-proyect/trailer_v2/'

os.makedirs('./../data/para_descargar/', exist_ok=True)

# ---- Main program ----

c_arch = 0
none = 0

for i in range(len(test)):
    path = str(test['dir'][i])
    folder = path[len(path)-23:len(path)-14]
    os.makedirs('./../data/para_descargar/' + folder, exist_ok=True)
    os.link(path, os.path.join('./../data/para_descargar/', path[len(path)-23:len(path)]))
    c_arch = c_arch +1

# Returns the number of folders for each allocation   
print('files: ',c_arch)

files:  196

In [38]:
import pandas as pd

dfs = pd.read_csv("dataset_video.csv")

In [39]:
mks = dfs['assignment'] == 'train'
mks2 = dfs[mks]['movement_label']=='Static'
static = dfs[mks][mks2].sample(n=105)
static.to_csv('static.csv', index=False)

In [41]:
mks = dfs['assignment'] == 'train'
mks2 = dfs[mks]['movement_label'] == 'Motion'
motion = dfs[mks][mks2].sample(n=105)
motion.to_csv('motion.csv', index=False)

Final dataset: Part 2

In [9]:
import pandas as pd
train = pd.read_csv("finish_data_train.csv")

import pandas as pd
trainpp = pd.read_csv("pull_push.csv")

import pandas as pd
trainpp2 = pd.read_csv("pull_push2.csv")

In [14]:
finish_data_trainF = pd.concat([train, trainpp, trainpp2])

In [15]:
finish_data_trainF

,dir,movement_label,movement_value
0,./../data/trailer_zoom/tt0444850_shot_0014.mp4,Push,2
1,./../data/trailer_zoom/tt0444850_shot_0015.mp4,Push,2
2,./../data/trailer_zoom/tt0444850_shot_0016.mp4,Push,2
3,./../data/trailer_zoom/tt2005173_shot_0002.mp4,Push,2
4,./../data/trailer_zoom/tt2005173_shot_0014.mp4,Push,2
...,...,...,...
601,./../data/pull_push2/tt1156398/shot_0004.mp4,Pull,3
602,./../data/pull_push2/tt3292146/shot_0003.mp4,Pull,3
603,./../data/pull_push2/tt5157030/shot_0004.mp4,Pull,3
604,./../data/pull_push2/tt3087700/shot_0028.mp4,Pull,3
605,./../data/pull_push2/tt0351459/shot_0032.mp4,Pull,3

In [16]:
finish_data_trainF.movement_label.value_counts()

Push      4737
Pull      4319
Static    4000
Motion    4000
Name: movement_label, dtype: int64

In [17]:
# Saved final file for train
finish_data_trainF.to_csv('finish_data_train_final.csv', index=False)

Part: Test final

In [18]:
import pandas as pd
testt = pd.read_csv("dataset_video.csv")

testt

,assignment,video,scene,scale_label,scale_value,movement_label,movement_value,frames,time(s),size(MB),dir
0,train,tt0444850,14,CS,1,Static,4,53,2.21,0.52,./../data/train/tt0444850/shot_0014.mp4
1,train,tt0444850,15,CS,1,Static,4,45,1.88,0.63,./../data/train/tt0444850/shot_0015.mp4
2,train,tt0444850,16,ECS,0,Static,4,24,1.00,0.23,./../data/train/tt0444850/shot_0016.mp4
3,train,tt2005173,2,MS,2,Static,4,22,0.88,0.31,./../data/train/tt2005173/shot_0002.mp4
4,train,tt2005173,14,CS,1,Static,4,22,0.88,0.16,./../data/train/tt2005173/shot_0014.mp4
...,...,...,...,...,...,...,...,...,...,...,...
33648,test,tt6644200,11,FS,3,Static,4,26,1.08,0.23,./../data/test/tt6644200/shot_0011.mp4
33649,test,tt6644200,15,MS,2,Motion,0,38,1.58,0.37,./../data/test/tt6644200/shot_0015.mp4
33650,test,tt6644200,21,FS,3,Motion,0,47,1.96,0.28,./../data/test/tt6644200/shot_0021.mp4
33651,test,tt6644200,26,LS,4,Static,4,28,1.17,0.84,./../data/test/tt6644200/shot_0026.mp4
33652,test,tt6644200,42,ECS,0,Static,4,22,0.92,0.20,./../data/test/tt6644200/shot_0042.mp4

In [20]:
testt.assignment.value_counts()

train    20856
test      8187
val       4610
Name: assignment, dtype: int64

In [23]:
mt = testt['assignment'] == 'test'
part_test=testt[mt]

part_test.movement_label.value_counts()

Static            5464
Motion            2385
Push               220
Pull                80
Multi_movement      38
Name: movement_label, dtype: int64

In [38]:
mks=part_test['movement_label']=='Static'
static=part_test[mks].sample(n=100)
sta=static[['dir','movement_label','movement_value']]
sta

                                          dir movement_label  movement_value
28545  ./../data/test/tt2917044/shot_0052.mp4         Static               4
28927  ./../data/test/tt3040216/shot_0056.mp4         Static               4
29522  ./../data/test/tt3265462/shot_0060.mp4         Static               4
31044  ./../data/test/tt3905756/shot_0064.mp4         Static               4
27161  ./../data/test/tt2380390/shot_0053.mp4         Static               4
...                                       ...            ...             ...
26552  ./../data/test/tt2258345/shot_0029.mp4         Static               4
30658  ./../data/test/tt3699150/shot_0024.mp4         Static               4
29808  ./../data/test/tt3377996/shot_0095.mp4         Static               4
31353  ./../data/test/tt4065308/shot_0024.mp4         Static               4
28741  ./../data/test/tt2977090/shot_0059.mp4         Static               4

[100 rows x 3 columns]

In [39]:
mks=part_test['movement_label']=='Motion'
motion=part_test[mks].sample(n=100)
mo=motion[['dir','movement_label','movement_value']]
mo

                                          dir movement_label  movement_value
26626  ./../data/test/tt2268653/shot_0074.mp4         Motion               0
30965  ./../data/test/tt3863420/shot_0017.mp4         Motion               0
31686  ./../data/test/tt4242982/shot_0005.mp4         Motion               0
30815  ./../data/test/tt3771536/shot_0077.mp4         Motion               0
30958  ./../data/test/tt3859980/shot_0050.mp4         Motion               0
...                                       ...            ...             ...
32037  ./../data/test/tt4472020/shot_0022.mp4         Motion               0
29746  ./../data/test/tt3345206/shot_0072.mp4         Motion               0
30584  ./../data/test/tt3671708/shot_0020.mp4         Motion               0
25774  ./../data/test/tt2082417/shot_0036.mp4         Motion               0
27434  ./../data/test/tt2430040/shot_0004.mp4         Motion               0

[100 rows x 3 columns]

In [40]:
mks=part_test['movement_label']=='Push'
push=part_test[mks].sample(n=100)
pus=push[['dir','movement_label','movement_value']]
pus

                                          dir movement_label  movement_value
27209  ./../data/test/tt2393827/shot_0053.mp4           Push               1
30721  ./../data/test/tt3726014/shot_0007.mp4           Push               1
28372  ./../data/test/tt2827388/shot_0006.mp4           Push               1
31224  ./../data/test/tt4008652/shot_0011.mp4           Push               1
31035  ./../data/test/tt3904186/shot_0014.mp4           Push               1
...                                       ...            ...             ...
26467  ./../data/test/tt2231554/shot_0059.mp4           Push               1
29654  ./../data/test/tt3309038/shot_0007.mp4           Push               1
29441  ./../data/test/tt3229778/shot_0060.mp4           Push               1
32639  ./../data/test/tt4930760/shot_0045.mp4           Push               1
29697  ./../data/test/tt3322940/shot_0036.mp4           Push               1

[100 rows x 3 columns]

In [41]:
mks=part_test['movement_label']=='Pull'
pull=part_test[mks]
pul=pull[['dir','movement_label','movement_value']]
pul

                                          dir movement_label  movement_value
25500  ./../data/test/tt2016339/shot_0050.mp4           Pull               2
25536  ./../data/test/tt2027178/shot_0002.mp4           Pull               2
25607  ./../data/test/tt2049630/shot_0022.mp4           Pull               2
25623  ./../data/test/tt2056757/shot_0030.mp4           Pull               2
25836  ./../data/test/tt2091935/shot_0049.mp4           Pull               2
...                                       ...            ...             ...
33356  ./../data/test/tt5545568/shot_0018.mp4           Pull               2
33410  ./../data/test/tt5614984/shot_0035.mp4           Pull               2
33498  ./../data/test/tt5786508/shot_0053.mp4           Pull               2
33512  ./../data/test/tt5799566/shot_0055.mp4           Pull               2
33537  ./../data/test/tt5896962/shot_0073.mp4           Pull               2

[80 rows x 3 columns]

In [36]:
test1 = pd.read_csv("finish_data_test.csv")
test1

                                       dir movement_label  movement_value
0    ./../data/val/tt3097956/shot_0024.mp4         Static               4
1    ./../data/val/tt3603824/shot_0001.mp4         Static               4
2    ./../data/val/tt4047132/shot_0075.mp4         Static               4
3    ./../data/val/tt4325152/shot_0071.mp4         Static               4
4    ./../data/val/tt3351004/shot_0020.mp4         Static               4
..                                     ...            ...             ...
191  ./../data/val/tt3907858/shot_0075.mp4           Push               1
192  ./../data/val/tt3553516/shot_0053.mp4           Push               1
193  ./../data/val/tt6123210/shot_0069.mp4           Push               1
194  ./../data/val/tt4970038/shot_0007.mp4           Push               1
195  ./../data/val/tt4911780/shot_0031.mp4           Push               1

[196 rows x 3 columns]

In [37]:
test1.movement_label.value_counts()

Static    50
Motion    50
Push      50
Pull      46
Name: movement_label, dtype: int64

In [42]:
finish_data_testF = pd.concat([test1, mo, sta, pul,pus])
finish_data_testF

                                          dir movement_label  movement_value
0       ./../data/val/tt3097956/shot_0024.mp4         Static               4
1       ./../data/val/tt3603824/shot_0001.mp4         Static               4
2       ./../data/val/tt4047132/shot_0075.mp4         Static               4
3       ./../data/val/tt4325152/shot_0071.mp4         Static               4
4       ./../data/val/tt3351004/shot_0020.mp4         Static               4
...                                       ...            ...             ...
26467  ./../data/test/tt2231554/shot_0059.mp4           Push               1
29654  ./../data/test/tt3309038/shot_0007.mp4           Push               1
29441  ./../data/test/tt3229778/shot_0060.mp4           Push               1
32639  ./../data/test/tt4930760/shot_0045.mp4           Push               1
29697  ./../data/test/tt3322940/shot_0036.mp4           Push               1

[576 rows x 3 columns]

In [43]:
finish_data_testF.movement_label.value_counts()

Static    150
Motion    150
Push      150
Pull      126
Name: movement_label, dtype: int64

In [44]:
# Save final file for test
finish_data_testF.to_csv('finish_data_test_final.csv', index=False)